.dropMedia {
    color: rgba(0, 0, 0, 0.9);
    background-color: rgba(216,166,47);
    padding-bottom: 30px;
    padding-top: 30px;
    width: 80%;
    position: relative;
    top: 20px;
    left: 10%;
    font-size: 30px;
    text-align: center;
    vertical-align: center;
    font-family: Comfortaa, cursive;
    cursor: pointer;
}

.media button {
  width: 30%;
  border: none;
}

.media .buttons {
  position: relative;
  margin: auto;
  width: 50%;
  top: 5px;
  text-align: center;
}

.Mbutton {
  /* background: linear-gradient(45deg, #b69ed9 5%, #616ec2 100%); */
	/* background: linear-gradient(45deg, #fc3535 5%, #ff0505 100%); */
  background: linear-gradient(45deg, #D8A62F 5%, #FC8E00 100%);
  background-color: #b69ed9;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  text-shadow: 1px 1px 2px #000000;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.Mbutton:hover {
  background-color: #616ec2;
  opacity: 90%;
}

.Mbutton:active {
  position: relative;
  top: 1px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

progress[value] {
  appearance: none;
  border: none;
  width: 80%;
  height: 10px;
  position: relative;
  left: 10%;
  top: -20px;
  background-color: rgb(240, 240, 250);
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
  position: relative;
  margin: 0 0 1.5em;
  transition: 0.1s ease;
}

progress:hover {
  height: 20px;
  margin-top: -5px;
}

progress[value]::-webkit-progress-bar {
  background-color: rgba(210, 210, 220, 0.1);
  border-radius: 3px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5) inset;
}

progress[value]::-webkit-progress-value {
  /* background: linear-gradient(45deg, #b69ed9 5%, #616ec2 100%); */
	/* background: linear-gradient(45deg, #fc3535 5%, #ff0505 100%); */
  background: linear-gradient(45deg, #D8A62F 5%, #FC8E00 100%);

  border-radius: 3px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.pos {
	font-family: 'Comfortaa', cursive;
	font-size: 20px;
	position: relative;
	top: -10px;
}
